* {
  box-sizing: border-box;
  --neutral-1: #efefef;
  --neutral-2: #e7e7e7;
  --neutral-3: #bdbdbd;
  --neutral-7: #4d4d4d;
  --neutral-8: #2f2f2f;
  --primary-light: #d9dfff;
  --primary: #002cff;

  --radius-small: 4px;
  --radius: 8px;
  --radius-large: 12px;

  --stroke: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: rgb(50, 50, 50);
}

.sr-only {
  opacity: 0;
  display: inline-block;
  height: 0;
  width: 0;
}

.controls {
  --vertical-padding: 12px;

  overflow-y: scroll;
  top: 0;
  position: fixed;
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 12px var(--vertical-padding) 100px;
  background: var(--neutral-1);
  /*transform: translateX(-100%);*/
  transition: transform 300ms ease-in-out;
}

/*.controls--active {*/
/*  transform: translateX(0);*/
/*}*/

.control__container {
  display: flex;
  flex-direction: column;
  padding: var(--vertical-padding) 0;
  font-size: 12px;
  border-bottom: 1px solid var(--neutral-3);
}

.control__container--toggle {
  flex-direction: row;
  align-items: center;
}

.control__container--toggle input {
  order: -1;
}

.control__container:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.control__container input[type="checkbox"],
.control__container input[type="range"] {
  margin: 0;
  position: relative;
  z-index: 1;
  outline: none;
}

.control__container input[type="checkbox"]:after,
.control__container input[type="range"]:after {
  content: "";
  width: calc(100%);
  height: calc(100%);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--neutral-8);
  opacity: 0;
  z-index: -1;
}

.control__container input[type="checkbox"]:focus:after,
.control__container input[type="range"]:focus:after {
  opacity: 0.2;
}

.control__container--file {
  padding: 12px;
  background: var(--primary-light);
  border-radius: 10px;
  margin-bottom: 8px;
  border: var(--stroke) solid var(--primary);
}

.control__container--file.disabled {
  --primary-light: var(--neutral-2);
  --primary: var(--neutral-2);
}

.control__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control__label {
  font-weight: bold;
}

.control__value {
  appearance: none;
  border: 1px solid var(--neutral-3);
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 2px 4px;
  background: var(--neutral-2);
  border-radius: var(--radius-small);
}

.playback-panel {
  --padding: 8px;

  position: fixed;
  bottom: var(--padding);
  left: 50%;
  justify-content: flex-start;
  transform: translateX(-50%);
  background: var(--neutral-2);
  border: 1px solid var(--neutral-8);
  border-radius: var(--radius-large);
  flex-direction: row;
  display: flex;
  padding: var(--padding);
}

.playback-button {
  --size: 42px;
  --pause-distance: 3px;

  position: relative;
  appearance: none;
  border: var(--stroke) solid var(--primary);
  color: white;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  transition: transform 30ms ease-in-out;
}

.playback-button:not(.playback-button:last-of-type) {
  margin-right: var(--padding);
}

.playback-button:disabled {
  --primary: var(--neutral-3);
  --primary-light: var(--neutral-2);
  border: var(--stroke) solid var(--neutral-2);
  background: var(--neutral-2);
}

.playback-button:focus:not(:disabled),
.playback-button:hover:not(:disabled) {
  outline: none;
  background: var(--primary-light);
}

.playback-button:active {
  transform: scale(0.96);
}

.play-pause-button:before,
.play-pause-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--primary);
  width: var(--stroke);
  height: 14px;
  transform-origin: center top;
  border-radius: 2px;
  transition: transform 80ms ease-in-out;
}

.play-pause-button:before {
  transform: translate(calc(-50% - var(--pause-distance)), -50%);
}

.play-pause-button:after {
  transform: translate(calc(-50% + var(--pause-distance)), -50%);
}

.play-pause-button.playing:before {
  transform: rotate(-60deg) translate(3.5px, -50%);
}

.play-pause-button.playing:after {
  transform: rotate(60deg) translate(3.5px, -50%);
}

.step-button {
}

#main-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
}
